.itemDetailsContainer {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    padding: 15px 0px 10px 0px;
    border-bottom: 1px solid #d3d3d3;
    .itemDetails {
        display: flex;
        flex-direction: column;
        .itemType {
            padding-bottom: 5px;
        }
        .itemName {
            font-size: 1.22rem;
            font-weight: 500;
            color: #3e4152;
        }
        .itemPrice {
            columns: #000;
            padding-bottom: 10px;
        }
        .itemDescription {
            color: rgba(40,44,63,.45);
            font-size: 16px;
            max-width: 98%;
        }
    }
    .itemImageContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        .itemImage {
            width: 200px;
            border: 1px solid lightgray;
        }
        .addItem {
            background: #FFF;
            font-size: 18px;
            color: #60b246;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            padding: 5px 20px;
            margin-top: -15px;
            border-radius: 10px;
        }
        .addItemCounter {
            color: #60b246;
            cursor: pointer;
            background: #fff;
            border-radius: 10px;
            margin-top: -15px;
            padding: 5px 20px;
            font-size: 18px;
            box-shadow: 0 5px 15px #00000059;
            display: flex;
            justify-content: space-between;
            width: 27%;
        }
    }
}