.header-container {
    border: 1px solid #F0F0F0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    display: flex;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.logo {
    width: 140px;
}

.navItems {
    display: flex;
   
}   

.navItems-container {
    padding-right: 10px;
}

.navItems-container > ul {
    list-style-type: none;
}

.navItems-container > ul > li {
    padding: 10px;
}

.navItem {
    font-size: 18px;
    cursor: pointer;
}

.navItem:hover {
    color: #3275a8;
    border-bottom: 2px solid #3275a8;
}

/* body */

.restroCard{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
}

.card-container:hover {
    cursor: pointer;
    /* border: 1px solid; */
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    background-color: #F0F0F0;
    margin: 5px;
    width: 240px;
}

.search {
    padding: 10px;
}

.card-logo {
    width: 230px;
    margin: 5px;
    height: 150px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.details > span {
    padding: 5px;
}

/* width */
::-webkit-scrollbar {
     width: 5px;
    height: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #f1f1f1;
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
     background:#555;
    }